<div id="HeaderArea">
   <ag-utility-bar></ag-utility-bar>
      

  
    <!-- Logo Bar -->
    <div id="LogoBar" class="LogoBar">
      <div class="agimage">
        <img src="assets/WebResources/HRHCHealthCareLogo_FFFN.gif"/>
      </div>
      <div class="HeaderData">
        <table id="TableHeader" border="0" cellpadding="2" cellspacing="2" width="100%">
          <tr>
            <td width="150px">
                <span ID="LabelHEADER1" ></span>
            </td>
            <td width="1%">
                <span ID="LabelSEP1" Text=":" >:</span>
            </td>
            <td width="350">
                <span ID="LabelDATA1" ></span>
            </td>
            <td>&nbsp;
            </td>
            <td width="150px">
                <span ID="LabelHEADER2" Text="Référence" >Référence</span>
            </td>
            <td>
                <span ID="LabelSEP2" Text=":" >:</span>
            </td>
            <td>
                <span ID="LabelDATA2" Text="" ></span>
            </td>
        </tr>
        <tr>
            <td>
                <span ID="LabelHEADER3" Text="" ></span>
            </td>
            <td>
                <span ID="LabelSEP3" Text="" ></span>
            </td>
            <td>
                <span ID="LabelDATA3" Text="" ></span>
            </td>
            <td>&nbsp;
            </td>
            <td>
                <span ID="LabelHEADER4" Text="Intermédiaire" >Intermédiaire</span>
            </td>
            <td width="1%">
                <span ID="LabelSEP4" Text=":" >:</span>
            </td>
            <td width="350">
                <span ID="LabelDATA4" Text="69213 - SCRI BNCONTYPE2" >69213 - SCRI BNCONTYPE2</span>
            </td>
        </tr>
        <tr>
            <td>
                <span ID="LabelHEADER5" Text="" ></span>
            </td>
            <td>
                <span ID="LabelSEP5" Text="" ></span>
            </td>
            <td>
                <span ID="LabelDATA5" Text="" ></span>
            </td>
            <td>&nbsp;
            </td>
            <td>
                <span ID="LabelHEADER6" Text="" ></span>
            </td>
            <td>
                <span ID="LabelSEP6" Text="" ></span>
            </td>
            <td>
                <span ID="LabelDATA6" Text="" ></span>
            </td>
        </tr>
          </table>
          
      </div>
    </div>
  
    <div class="floatClearer"></div>
  </div>
  