/* TODO implement custom layout page styling */
ag-header {
    display: block;
}
ag-toolbar {
    display: block;
}
ag-sidebar {
    display: block;
}
ag-content{
    display: block;
}
ag-error-display { 
    display: block;
}
.ag-custom-layout {
    
}
